{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <div class="m-footer-copyright">
      <p>
        <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
        <span>&nbsp; &bull; &nbsp;</span>
        <span>{{t "Published with"}} <a href="https://github.com/eddiesigner/liebling" target="_blank" rel="noopener">Liebling theme</a></span>
      </p>
      <nav class="m-footer-social">
        {{#if @site.facebook}}
          <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
            <span class="icon-facebook"></span>
          </a>
        {{/if}}
        {{#if @site.twitter}}
          <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
            <span class="icon-twitter"></span>
          </a>
        {{/if}}
      </nav>
    </div>
    <div class="m-footer__fb-page fb-page" data-href="https://www.facebook.com/deconlontunhien" data-tabs="" data-width="400" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/deconlontunhien" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/deconlontunhien">Để con lớn tự nhiên</a></blockquote></div>
  </div>
</footer>
